.headerText {
    font-size: 50px;
    font-weight: bolder;
}

.header {
    height: 214px;
    padding: auto;
    box-shadow: 5px 10px 10px gray;
}

.highlight {
    background: none;
    color:bisque;
    font-weight: 900;
}

p {
    background: none;
}

.content {
    display: flex;
    justify-content: center;
    
}
.backgroundItem {
    width: 500px;
    margin:  70px 100px;
    height: 300px;
    text-align: center;
    align-items: center;
    position: relative;
    box-shadow: 5px 10px 10px gray;
}

.backgroundItem > p {
    text-align: center;
    font-size: 50px;
    color: white;
    margin: 0 0 20px 0;
    line-height: 150px;
}

.backgroundItem > img {
    background-color:transparent;
    width: 100px;
}

.input {
    display: flex;
    background: none;
    justify-content: center;
}

.input > p {
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 15px;
    margin: 0 0 20px 0;
}
.inputText {
    text-align: center;
    font-size: 50px;
    color: white;
}

.inputStyle {
    display: flex;
    height: 60px;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    font-size: 40px;
    color: white;
    max-width: 150px;
    margin: 0 0 0 30px;
}

.nextBtn {
    position: absolute;
    right: 30px;
    bottom: 20px;
    width: 150px;
    height: 100px;
    color: white;
    border-radius: 30px;
    border: 0;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    box-shadow: 5px 10px 10px gray;
}

a {
    text-decoration-line: none;
}

#prevBtn {
    position: absolute;
    left: 230px;
}


.code-content {
    display: block;
    text-align: center;
    justify-items: center;
}

#code-name {
    line-height: 300px;
    font-size: 600%;
    color: white;
    letter-spacing: 30px;
    width: 75%;
    margin: 70px auto;
    height: 300px;
    text-align: center;
    align-items: center;
    position: relative;
    box-shadow: 5px 10px 10px gray;

}

#current-count {
    height: 80px;
    width: 75%;
    line-height: 80px;
    margin: 0 auto;
    color: black;
    font-weight: bold;
    top: 80px;
    background: none;
}

.current-count-progress {
    appearance: none;
    z-index: 1;
    background-color: #ECB159;
    border: 0;
    justify-content: center;
    border-radius: 20px;
    height: 80px;
    width: 75%;
}

#progress {
    z-index: 2;
    margin-bottom: 17px;
    appearance: none;
    width: 75%;
    height: 80px;
}
  
#progress::-webkit-progress-bar {
    background: #f0f0f0;
    border-radius: 20px;
    border: 1px solid #eeeeee;
    height: 80px;
    overflow: hidden;
}

#progress::-webkit-progress-value {
    background: #fdd4d6;
    border-left: 20px;
    height: 80px;
}
