.container{
    width: 100%;
    height: 500px;
    display: flex;    
}

.backgroundItem {

    align-items: center;

    display: flex;
    width: 50%;
    height: 500px;
    margin-left: 25%;
    margin-right: 70px;
}

.nameBox{
    
    width: 700px;
    height: 150px;
    font-size: 80px;
    text-align: center;

    /* background: none;
    border : none;
    border-bottom: 2px bisque;
    outline: none; */
}

.nextBtn{
    margin-top: 420px;
    margin-left: 50px;
    width: 150px;
    height: 75px;
    border-radius: 20px;
    color: white;
    font-size: 45px;
    box-shadow: 5px 5px 5px gray;
}
