* {
    background-color: #FEFBF6;
}

.header {
    display: flex;
    justify-content: center;
    width: 300px;
    background-color: #8CB9BD;
    
}

.backgroundItem {
    background-color: #ECB159;
}

.innerItem {
    background-color: #FEFBF6;
}

.nextBtn {
    background-color: #B67352;
}