* {
    background-color: #FEFBF6;
    font-family: 'GmarketSansMedium';
}

.header {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 250px;
    margin-top: 60px;
    margin-left: 15%;
    border-radius: 20px;

    background-color: #8CB9BD;
    display: flex;
    
}

.headerText{
    background-color: #8CB9BD;
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.backgroundItem {
    background-color: #ECB159;
}

.innerItem {
    background-color: #FEFBF6;
}

.nextBtn {
    background-color: #B67352;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}