* {
    background-color: #FEFBF6;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #8CB9BD;
    
}

.innerItem {
    background-color: #ECB159;
}

.BackgroundItem {
    background-color: #FEFBF6;
}

.nextBtn {
    background-color: #B67352;
}

.inputList, .inputList > p {
    background-color: transparent;
}

.btnList {
    display: flex;
    flex-direction: row;
}

.inputList {
    display: flex;
    flex-direction: ;
}