.header{
    min-width: 1500px;
}
.headerText{
    font-size: 90px;
}

.backgroundItem {

    align-items: center;

    display: flex;
    width: 80%;
    min-width: 1850px;
    height: 700px;
    margin-left: 10%;
    margin-right: 70px;
    margin-bottom: 50px;
}

.container{
    background-color: #ECB159;
    width: 97%;
    height: 95%;
    overflow-y: auto;
}

.mainBtn {
    display: block;
    margin-left: 1850px;
    width: 230px;
    height: 100px;
    font-size: 50px;
    color: white;
    background-color: #B67352;
    border-radius: 30px;
    box-shadow: 5px 10px 10px gray;
    cursor: pointer;
  }
  
  .items{
    background-color: #ECB159;
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .item{
    padding-top: 10px;
    margin-left: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    height: 150px;
    border-radius: 20px;
}

.userName{
    font-size: 60px;
    /* font-size: calc(30px - (attr(data-name-length) * 1px)); */
    background-color: rgba(0, 0, 0, 0);
}
.state{
    background-color: rgba(0, 0, 0, 0);
    width: 150px;
    height: 60px;
}


.small {
    font-size: 60px;
}

.medium {
    font-size: 40px;
}

.large {
    font-size: 30px;
}